.git
.github
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
.DS_Store

dev
tests

frontend/node_modules
frontend/dist

data/raw
data/normalized
data/models/candidate
data/baitdetector.db
